.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(90deg, rgba(255,31,90,1) 0%, rgba(177,12,72,1) 71%, rgba(127,0,208,0.7693452380952381) 100%);
  min-height: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  text-decoration: none;
  color: white
}

.divHeaderL{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.divHeaderR{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}